<%=@room.name%>
<%=@room.capacity%>
<%= button_to "Delete",@room, method: :delete %>

<h2>Bookings</h2>
<% @room.bookings.each do |booking|%>
<%=booking.start_data%>
<%=booking.end_data%>
<%=booking.description%>
<%=link_to "Booking",booking%>
<%end%>